<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../js/bootbox.min.js"></script>
	
    <title>Animales</title>
  </head>
  <body>
	<div>
		<nav class="navbar navbar-dark bg-dark justify-content-end">
			<div class="dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<b><script>document.write(sessionStorage.getItem("usuario_activo"));</script></b>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
				 	<li><a class="dropdown-item" onclick="VerPerfil()">Ver Perfil</a></li>
				 	<li><a class="dropdown-item" onclick="CerrarSesion()">Cerrar Sesión</a></li>
				</ul>
	        </div>
		</nav>
	</div>
		
		<div style="width:150px; float:left; position: absolute; top:50px; bottom: 0; background-color:#212529;">
			<nav class="navbar navbar-dark bg-dark">
	            <ul class="navbar-nav">
	                <li class="nav-item" >
	                    <a class="nav-link active" style="padding-left:10px;" href="./Animales.html">Animales</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Leche</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Venta Ovejas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Venta Corderos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Muerte Ovejas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Medicamentos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Piensos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Piensos Medicamentosos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Enfermedades</a>
	                </li>
	            </ul>
	        </nav>
        </div>

		<h1 style="text-align:center;"> Animales</h1>
        
        <br>
        <br>
        
        <div  id="card"></div>
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<script>
function CerrarSesion(){
	sessionStorage.clear();
	var url = "./IniciarSesion.html";
    window.location.href = url;
}
</script>

<script>
$(function() {
  //Primero hay que sacar los datos de base de datos de el usuario que se encuentra conectado
	var usuario = sessionStorage.getItem("usuario_activo");
	
	var usuarioDatos= {
		'usuario' : usuario,
	};

	var usuarioLoginJSON = JSON.stringify(usuarioDatos);

	var url = './cargarovejas';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : usuarioLoginJSON,
		success : function(data, textStatus, jqXHR) {
			var ovejas = data.ListaOvejas;
			var size = Object.keys(ovejas).length;

			txt = document.getElementById("card");
			var doc = "";
			for(var i=0; i<size; i++){
				doc= doc + '<div class="card text-white bg-primary mb-3" style="max-width: 18rem;margin-left: 155px;cursor:pointer;">'
				+'<div class="card-header" style="margin-top:5px;">'+ovejas[i]+' '
				+'<h5 class="card-title"><img src="./basura.png" height="30" size="30" id="" style="float:right;">'
				+'&nbsp;<img src="./ver.png" height="30" size="30" id="" style="float:right;cursor:pointer;"  onClick="VisualizarOveja('+ovejas[i]+')"> </h5></div></div>';
				
			}
			txt.innerHTML = doc;
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
});
</script>

<script>
function VerPerfil(){
	//Primero hay que sacar los datos de base de datos de el usuario que se encuentra conectado
	var usuario = sessionStorage.getItem("usuario_activo");
	
	var usuarioDatos= {
		'usuario' : usuario,
	};

	var usuarioLoginJSON = JSON.stringify(usuarioDatos);

	var url = './sacardatos';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : usuarioLoginJSON,
		success : function(data, textStatus, jqXHR) {
			//Guardar las variables globales para mostrarlas en los input de Ver Perfil
			sessionStorage.setItem('Nombre', data.Nombre);
			sessionStorage.setItem('PApellido', data.PApellido);
			sessionStorage.setItem('SApellido', data.SApellido);
			sessionStorage.setItem('DNINIF', data.DNINIF);
			sessionStorage.setItem('CElectronico', data.CElectronico);
			sessionStorage.setItem('NumExplotacion', data.NumExplotacion);
			
			//Luego redirigir a la página
			var url = "./VerPerfil.html";
		    window.location.href = url;
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
	
	
}
</script>

<script>
function VisualizarOveja(NumIdentificacion){

	/**/
	
	var usuarioDatos= {
		'NumIdentificacion' : NumIdentificacion,
	};

	var usuarioLoginJSON = JSON.stringify(usuarioDatos);

	var url = './visualizaroveja';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : usuarioLoginJSON,
		success : function(data, textStatus, jqXHR) {
			
			//Comprobar si es hembra o macho
			var sexo;
			if(data.Sexo == "H"){
				sexo = "Hembra";
			}else if(data.Sexo == "M"){
				sexo == "Macho";
			}
			
			var mensaje = "";
			
			if(data.Muerta == "1"){
				mensaje = "<div class='card text-white bg-danger mb-3'>"+
							"<div class='card-body'>"+
								"<h5 class='card-title'>MUERTA</h5>"+
								"<p class='card-text'>La oveja falleció el día: " + data.FechaMuerte + "</p>"+
							"</div>"+
						  "</div>";
			}
			
			if(data.Venta == "1"){
				mensaje = "<div class='card text-dark bg-warning mb-3'>"+
							"<div class='card-body'>"+
								"<h5 class='card-title'>VENDIDA</h5>"+
								"<p class='card-text'>La oveja se vendió el día: " + data.FevhaVenta + "</p>"+
							"</div>"+
						  "</div>";
			}
			
			mensaje = mensaje + "<table>";
			
			mensaje = mensaje + "<tr>";
			mensaje = mensaje + "<td>Sexo:</td>";
			mensaje = mensaje + "<td><input id='Sexo' disabled value=" + sexo + "></td>";
			mensaje = mensaje + "</tr>";
			
			mensaje = mensaje + "<tr>";
			mensaje = mensaje + "<td>Año nacimiento:</td>";
			mensaje = mensaje + "<td><input id='AnoNacimiento' disabled value=" + data.AnoNacimiento + "></td>";
			mensaje = mensaje + "</tr>";
			
			if(data.TieneBolo == "1"){
				mensaje = mensaje + "<tr>";
				mensaje = mensaje + "<td>Tiene bolo:</td>";
				mensaje = mensaje + "<td><input type='checkbox' id='TieneBolo' name='TieneBolo' value='TieneBolo' checked disabled></td>";
				mensaje = mensaje + "</tr>";
			}else{
				mensaje = mensaje + "<tr>";
				mensaje = mensaje + "<td>Tiene bolo:</td>";
				mensaje = mensaje + "<td><input type='checkbox' id='TieneBolo' name='TieneBolo' value='TieneBolo' disabled></td>";
				mensaje = mensaje + "</tr>";
			}
			
			if(data.TieneCrotal == "1"){
				mensaje = mensaje + "<tr>";
				mensaje = mensaje + "<td>Tiene crotal:</td>";
				mensaje = mensaje + "<td><input type='checkbox' id='TieneCrotal' name='TieneCrotal' value='TieneCrotal' checked disabled></td>";
				mensaje = mensaje + "</tr>";
			}else{
				mensaje = mensaje + "<tr>";
				mensaje = mensaje + "<td>Tiene crotal:</td>";
				mensaje = mensaje + "<td><input type='checkbox' id='TieneCrotal' name='TieneCrotal' value='TieneCrotal' disabled></td>";
				mensaje = mensaje + "</tr>"; 
			}
			
			mensaje = mensaje + "<tr>";
			mensaje = mensaje + "<td>Número de explotación:</td>";
			mensaje = mensaje + "<td><input id='NumExplotacion' disabled value=" + data.NumExplotacion + "></td>";
			mensaje = mensaje + "</tr>";
			
			mensaje = mensaje + "</table>";
			
			if(data.Venta == "0" && data.Muerta == "0"){
				mensaje = mensaje + "<div class='d-grid gap-2 d-md-flex justify-content-md-end'>"+
  										"<img src='./lapiz.png' style='cursor:pointer;' height='40' size='40' onclick='Editar()'>"+
									"</div>";
									
				mensaje = mensaje + "<div class='d-grid gap-2 d-md-flex justify-content-md-end'>"+
	  									"<button class='btn btn-primary me-md-2' type='button' style='display:none;'>Guardar Información</button>"+
									"</div>";
			}
			
			
			
			
			bootbox.dialog({
				title:NumIdentificacion, 
				message: mensaje,
				closeButton: true,
				onEscape: true
			});

		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
	
	
}
</script>