<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	
	
    <title>Iniciar sesión</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
	  <div class="container-fluid">
	  	<p>1</p>
	  </div>
	</nav>

	<br>
	<br>

	<div id="NoMovil" style="display:none;">
		<div style="display:inline;">
			<div align="center">
				<img src="./facebook_cover_photo_1.png" width="40%" height="40%" style="display:inline; text-align:center;">
			</div>
		</div>
		
		<br>
		<br>
		
		<div class="alert alert-danger alert-dismissible" role="alert" id="noLoginNoMovil" style="display:none;width: 24rem;text-align:center;margin:0% 40%;padding-left:48px;">
			<strong id="salida-error" style="text-align:center;">¡ERROR! El usuario o la contraseña son erroneos</strong>
		</div>
			
		<div style="width: 18rem; display: inline;">
			
			<div class="card" style="margin:0% 40%">
				<form style="text-align: center;">
					<div class="mb-3">
					    <label for="UsuarioNoMovil" class="form-label">Usuario</label>
					    <br>
					    <input type="text" name="UsuarioNoMovil" id="UsuarioNoMovil" placeholder="Usuario"></input>
					</div>
					<div class="mb-3">
					    <label for="ContrasenaNoMovil" class="form-label">Contraseña</label>
					    <br>
					    <input type="password" name="ContrasenaNoMovil" id="ContrasenaNoMovil" placeholder="Contraseña"></input>
					</div>
					<div class="mb-3">
					    <button onclick="IniciarSesion()" class="btn btn-primary">Iniciar Sesión</button>
					</div>
				</form>
			</div>
			
			</br>
			
			<div class="card" style="margin:0% 40%">
				<div style="text-align: right; margin-right: 2%" class="blockquote-footer">
					<p><b>¿Desea registrarse?</b></p>
					<p><em>Descargue el formulario y envíelo a la siguiente dirección de correo: ovicapp@gmail.es</em></p>
					<button type="button" class="btn btn-outline-success btn-sm" onClick="DescargarFormulario()">Descargar</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="Movil" style="display:none;">
		<div style="display:inline;">
			<div align="center">
				<img src="./facebook_cover_photo_1.png" width="70%" height="70%" style="display:inline; text-align:center;">
			</div>
		</div>
		
		<br>
		<br>
		
		<div class="alert alert-danger alert-dismissible" role="alert" id="noLoginMovil" style="display:none;width: 24rem;text-align:center;padding-left:48px;">
			<strong id="salida-error" style="text-align:center;">¡ERROR! El usuario o la contraseña son erroneos</strong>
		</div>
			
		<div style="width: 18rem; display: inline;">
			
			<div class="card">
				<form style="text-align: center;">
					<div class="mb-3">
					    <label for="UsuarioMovil" class="form-label">Usuario</label>
					    <br>
					    <input type="text" name="UsuarioMovil" id="UsuarioMovil" placeholder="Usuario"></input>
					</div>
					<div class="mb-3">
					    <label for="ContrasenaMovil" class="form-label">Contraseña</label>
					    <br>
					    <input type="password" name="ContrasenaMovil" id="ContrasenaMovil" placeholder="Contraseña"></input>
					</div>
					<div class="mb-3">
					    <button onclick="IniciarSesion()" class="btn btn-primary">Iniciar Sesión</button>
					</div>
				</form>
			</div>
			
			</br>
			
			<div class="card">
				<div style="text-align: right; margin-right: 2%" class="blockquote-footer">
					<p><b>¿Desea registrarse?</b></p>
					<p><em>Descargue el formulario y envíelo a la siguiente dirección de correo: ovicapp@gmail.es</em></p>
					<button type="button" class="btn btn-outline-success btn-sm" onClick="DescargarFormulario()">Descargar</button>
				</div>
			</div>
		</div>
	</div>
	
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<script>
$(function() {
	var usuario = sessionStorage.getItem("usuario_activo");
	
	if(usuario != null){
		var url = "./Inicio.html";
    	window.location.href = url;
	}
  
});
</script>

<script>
$(function() {
  //Comprobar si es telefono u ordenador
	
	    try{ 
	        document.createEvent("TouchEvent"); 
	        document.getElementById('Movil').style.display='block';
	        var parar;
	        parar = 1;
	        return true; 
	    }
	    catch(e){ 
	    	document.getElementById('NoMovil').style.display='block';
	        return false;
	    }
	
  
});
</script>

<script>
function IniciarSesion(){
	
	var usuario;
	if(document.getElementById("UsuarioNoMovil").value != ""){
		usuario = document.getElementById("UsuarioNoMovil").value;
	}else{
		usuario = document.getElementById("UsuarioMovil").value;
	}
	
	var contrasena;
	if(document.getElementById("UsuarioNoMovil").value != ""){
		contrasena = document.getElementById("ContrasenaNoMovil").value;
	}else{
		contrasena = document.getElementById("ContrasenaMovil").value;
	}
	
	var usuarioLogin = {
		'usuario' : usuario,
		'contrasena' : contrasena
	};

	var usuarioLoginJSON = JSON.stringify(usuarioLogin);

	var url = './login';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : usuarioLoginJSON,
		success : function(data, textStatus, jqXHR) {
			var estado = data.login;
			
			if(estado == 'correcto'){
				console.log("Se ha iniciado correctamente sesión");
				sessionStorage.setItem('usuario_activo', usuario);
				sessionStorage.setItem('noLog', estado);
				var url = "./Inicio.html";
    			window.location.href = url;
			}else if(estado == 'incorrecto'){
				console.log("Error al iniciar sesion");
				sessionStorage.setItem('noLog', estado);
			}
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
}
</script>

<script>
$(function(){
	 $('body').css('display','block');
	 var show = sessionStorage.getItem("noLog");
	 if ( show == "incorrecto" ){
		 $("#noLoginNoMovil").show();
		 $("#noLoginMovil").show();
	 }else{
		 $("#noLoginMovil").hide();
		 $("#noLoginNoMovil").hide();
	 }
});
</script>

<script>
function DescargarFormulario(){
	var urlFirma = './DescargarFormulario/';
	
	$.ajax({
			type: 'get',
			url: urlFirma,
			contentType: 'application/pdf',
			success: function(data,textStatus,jqXHR){	
				url = './DescargarFormulario';
				jQuery('<form action="' + url + '" method="get"></form>').appendTo('body').submit().remove();
			},error: function(jqXHR,exception) {
				bootbox.alert({
					title: "EXPORTACIÓN REGISTROS DE LECHE",
					message: "No se puede recuperar el archivo",
					buttons: {
						ok: {
							label: 'Aceptar',
							className: 'btn btn-primary'
						}
					}
				});
			},statuscode:{
				404:function(){ mostrarPantallaError(url); }
			}
		});
}
</script>