<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	
    <title>Mi Perfil</title>
  </head>
  <body>
<div>
		<nav class="navbar navbar-dark bg-dark justify-content-end">
			<div class="dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<b><script>document.write(sessionStorage.getItem("usuario_activo"));</script></b>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<!-- En la página de Ver Perfil no se tiene que visualizar el enlace de Ver Perfil porque ya estas en el
				 	<li><a class="dropdown-item" onclick="VerPerfil()">Ver Perfil</a></li>
				 	-->
				 	<li><a class="dropdown-item" onclick="CerrarSesion()">Cerrar Sesión</a></li>
				 	
				</ul>
	        </div>
		</nav>
	</div>
		
		<div style="width:150px; float:left; position: absolute; top:50px; bottom: 0; background-color:#212529;">
			<nav class="navbar navbar-dark bg-dark">
	            <ul class="navbar-nav">
	                <li class="nav-item" >
	                    <a class="nav-link active" style="padding-left:10px;" href="./Ovejas.html">Ovejas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Leche</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Venta Ovejas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Venta Corderos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Muerte Ovejas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Medicamentos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Piensos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Piensos Medicamentosos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" style="padding-left:10px;" href="#">Enfermedades</a>
	                </li>
	            </ul>
	        </nav>
        </div>
        
        <h1 style="text-align:center;"> MI PERFIL</h1>
        
        <br>
        <br>
        
     <div class="row">
	  <div class="col-sm-6">
	    <div class="card"  style="text-align:center;margin-left: 155px;">
	      <div class="card-body" style="text-align:left;">
	        <h5 class="card-title">Datos Personales &nbsp; &nbsp;<img src="./lapiz.png" style="cursor:pointer;" height="20" size="20" onclick="Editar()"> </h5>   
	        
			
	        <div class="input-group input-group-sm mb-3 w-50 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="Nombre" name="Nombre" disabled>
			</div>
  
			<div class="input-group input-group-sm mb-3 w-50 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">Primer Apellido</span>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="PApellido" disabled>
			</div>
			
			<div class="input-group input-group-sm mb-3 w-50 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">Segundo Apellido</span>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="SApellido" disabled>
			</div>
			
			<div class="input-group input-group-sm mb-3 w-75 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">DNI/NIF</span>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="DNINIF" disabled>
			</div>
			
			<div class="input-group input-group-sm mb-3 w-75 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">Número de Explotación</span>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="NumExplotacion" disabled>
			</div>
			
			<div class="input-group input-group-sm mb-3 w-75 p-3">
			  <span class="input-group-text" id="inputGroup-sizing-sm">Correo Electrónico</span>
			  <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="CElectronico" disabled>
			</div>
			
			<script>
				$("#Nombre").val(sessionStorage.getItem("Nombre"));
				$("#PApellido").val(sessionStorage.getItem("PApellido"));
				$("#SApellido").val(sessionStorage.getItem("SApellido"));
				$("#DNINIF").val(sessionStorage.getItem("DNINIF"));
				$("#CElectronico").val(sessionStorage.getItem("CElectronico"));
				$("#NumExplotacion").val(sessionStorage.getItem("NumExplotacion"));
			</script>
			<div>
				<button type="button"  id="editar" class="btn btn-primary" style="display:none;width:25%;float:left;margin-right:10px;" onClick="GuardarInformacion()">Guardar Información</button> 
				<img src="./QueryOK.png" height="40" size="40" id="QueryOK" style="display:none;">
				<img src="./QueryKO.png" height="40" size="40" id="QueryKO" style="display:none;">
			</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card" style="text-align:center;">
	      <div class="card-body" style="text-align:left;">
	        <h5 class="card-title">Cambiar contraseña &nbsp; &nbsp;<img src="./lapiz.png" style="cursor:pointer;" height="20" size="20" onclick="EditarPass()"></h5>
	        <div class="input-group input-group-sm mb-3 w-50 p-3">
	        	<label for="PassActual" class="form-label">Contraseña actual: &nbsp; </label>
			  	<input type="password" id="PassActual" class="form-control" aria-label="Sizing example input" onblur="ComprobarPassActual()" aria-describedby="inputGroup-sizing-sm" disabled>
			  	<img src="./Check.png" height="30" size="30" id="Check" style="display:none;">
			  	<img src="./CheckKO.png" height="30" size="30" id="CheckKO" style="display:none;">
			</div>
			
			<div class="input-group input-group-sm mb-3 w-50 p-3">
	        	<label for="PassActual" class="form-label">Nueva contraseña: &nbsp; </label>
			  	<input type="password" id="PassNew" class="form-control" aria-label="Sizing example input" onblur="ComprobarCoincidencias()" aria-describedby="inputGroup-sizing-sm" disabled>
			  	<img src="./Check.png" height="30" size="30" id="CheckPass" style="display:none;">
			  	<img src="./CheckKO.png" height="30" size="30" id="CheckPassKO" style="display:none;">
			</div>
			
			<div class="input-group input-group-sm mb-3 w-50 p-3">
	        	<label for="PassActual" class="form-label">Confirmar contraseña: &nbsp; </label>
			  	<input type="password" id="ConfrimPassNew" class="form-control" aria-label="Sizing example input" onblur="ComprobarCoincidencias()" aria-describedby="inputGroup-sizing-sm" disabled>
			  	<img src="./Check.png" height="30" size="30" id="CheckConfirmPass" style="display:none;">
			  	<img src="./CheckKO.png" height="30" size="30" id="CheckConfirmPassKO" style="display:none;">
			</div>
			
			<div>
				<button type="button"  id="editarpass" class="btn btn-primary" style="display:none;width:25%;float:left;margin-right:10px;" onClick="GuardarPassword()" disabled>Guardar Contraseña</button> 
				<img src="./QueryOKPass.png" height="40" size="40" id="QueryOKPass" style="display:none;">
				<img src="./QueryKOPass.png" height="40" size="40" id="QueryKOPass" style="display:none;">
			</div>
	      </div>
	      
	    </div>
	  </div>
	</div>   
	
	</br>
	</br>
	
	
	
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<script>
function CerrarSesion(){
	sessionStorage.clear();
	var url = "./IniciarSesion.html";
    window.location.href = url;
}
</script>

<script>
function Editar(){
	document.getElementById('Nombre').disabled=false;
	document.getElementById('PApellido').disabled=false;
	document.getElementById('SApellido').disabled=false;
	document.getElementById('DNINIF').disabled=false;
	document.getElementById('CElectronico').disabled=false;
	document.getElementById('editar').style.display='block';
}
</script>

<script>
function EditarPass(){
	document.getElementById('PassActual').disabled=false;
}
</script>

<script>
function ComprobarPassActual(){
	var usuario = sessionStorage.getItem("usuario_activo");
	var pass = document.getElementById("PassActual").value;
	
	var DatosContraseña= {
		'Usuario' : usuario,
		'Contrasena' : pass,
	};
	
	var DatosContraseñaJSON = JSON.stringify(DatosContraseña);

	var url = './comprobarpass';
	
	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : DatosContraseñaJSON,
		success : function(data, textStatus, jqXHR) {
			var comp_pass = data.comp_pass;
			
			if(comp_pass == "correcto"){
				document.getElementById('Check').style.display='block';
				document.getElementById('CheckKO').style.display='none';
				document.getElementById('PassNew').disabled=false;
				document.getElementById('ConfrimPassNew').disabled=false;
				
				document.getElementById('editarpass').style.display='block';
				
			}else{
				document.getElementById('CheckKO').style.display='block';
				document.getElementById('Check').style.display='none';
				document.getElementById('PassNew').disabled=true;
				document.getElementById('ConfrimPassNew').disabled=true;
			}
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
}
</script>

<script>
function ComprobarCoincidencias(){
	var pass1 = document.getElementById("PassNew").value;
	var pass2 = document.getElementById("ConfrimPassNew").value;
	
	if(pass1 == pass2){
		document.getElementById('CheckPass').style.display='block';
		document.getElementById('CheckPassKO').style.display='none';
		document.getElementById('CheckConfirmPass').style.display='block';
		document.getElementById('CheckConfirmPassKO').style.display='none';
		
		document.getElementById('editarpass').disabled=false;
	}else{
		document.getElementById('CheckPassKO').style.display='block';
		document.getElementById('CheckPass').style.display='none';
		document.getElementById('CheckConfirmPassKO').style.display='block';
		document.getElementById('CheckConfirmPass').style.display='none';
		document.getElementById('editarpass').disabled=true;
	}
}
</script>

<script>
function GuardarInformacion(){
	//Guardar los datos del perfil que vamos a modificar.
	var Nombre = document.getElementById("Nombre").value;
	var PApellido = document.getElementById('PApellido').value;
	var SApellido = document.getElementById('SApellido').value;
	var DNINIF = document.getElementById('DNINIF').value;
	var CElectronico = document.getElementById('CElectronico').value;
	var usuario = sessionStorage.getItem("usuario_activo");
	
	var DatosPerfil= {
		'Usuario' : usuario,
		'Nombre' : Nombre,
		'PrimerApellido' : PApellido,
		'SegundoApellido' : SApellido,
		'DNINIF' : DNINIF,
		'CorreoElectronico' : CElectronico,
	};

	var DatosPerfilJSON = JSON.stringify(DatosPerfil);

	var url = './guardarperfil';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : DatosPerfilJSON,
		success : function(data, textStatus, jqXHR) {
			var QueryOK = data.QueryOk;
			
			if(QueryOK == 'correcto'){
				document.getElementById('QueryOK').style.display='block';
				
				document.getElementById('Nombre').disabled=true;
				document.getElementById('PApellido').disabled=true;
				document.getElementById('SApellido').disabled=true;
				document.getElementById('DNINIF').disabled=true;
				document.getElementById('CElectronico').disabled=true;
			}else{
				document.getElementById('QueryKO').style.display='block';
			}
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
	
	
}
</script>

<script>
function GuardarPassword(){
	//Guardar la nueva contraseña en base de datos
	var usuario = sessionStorage.getItem("usuario_activo");
	var PassNew = document.getElementById('PassNew').value;
	var ConfirmPassNew = document.getElementById('ConfrimPassNew').value;
	
	var DatosPass= {
		'Usuario' : usuario,
		'Contrasena' : PassNew,
	};

	var DatosPassJSON = JSON.stringify(DatosPass);

	var url = './guardarpass';

	$.ajax({
		type : 'post',
		url : url,
		contentType : 'application/json',
		dataType : 'json',
		data : DatosPassJSON,
		success : function(data, textStatus, jqXHR) {
			var QueryOK = data.QueryOk;
			
			if(QueryOK == 'correcto'){
				document.getElementById('QueryOKPass').style.display='block';
				document.getElementById('editarpass').disabled=true;
				
				document.getElementById('PassNew').disabled=true;
				document.getElementById('ConfrimPassNew').disabled=true;
				document.getElementById('PassActual').disabled=true;
				document.getElementById('PassActual').value="";
				document.getElementById('PassNew').value="";
				document.getElementById('ConfrimPassNew').value="";
			}else{
				document.getElementById('QueryKOPass').style.display='block';
			}
		},
		error : function(jqXHR, exception) {
			// mostrarPantallaError(url, jqXHR);
		},
		statuscode : {
			404 : function() {
				//mostrarPantallaError(url);
			}
		}
	});
}
</script>